[submodule "src/video_services"]
	path = src/video_services
	url = https://github.com/nooodles-ahh/video_services.git
[submodule "src/coplay"]
	path = src/coplay
	url = https://github.com/CoaXioN-Games/coplay.git
[submodule "src/vaudio_minimp3"]
	path = src/vaudio_minimp3
	url = https://github.com/Joshua-Ashton/VAudio-MiniMP3.git
[submodule "src/vphysics_jolt"]
	path = src/vphysics_jolt
	url = https://github.com/Joshua-Ashton/VPhysics-Jolt.git
