*.vpc_crc
*.vcxproj
*.vcxproj.filters
*.mak
*.project
*.sln

/materialsystem/*shaders/fxctmp9/
/materialsystem/*shaders/fxctmp9_tmp/
/materialsystem/*shaders/include/
/materialsystem/*shaders/shaders/

/game/*/funny/
