*.a binary filter=lfs diff=lfs merge=lfs
*.lib binary filter=lfs diff=lfs merge=lfs
*.so binary filter=lfs diff=lfs merge=lfs
*.dll binary filter=lfs diff=lfs merge=lfs
*.exe binary filter=lfs diff=lfs merge=lfs

*.c text diff=cpp
*.cc text diff=cpp
*.cxx text diff=cpp
*.cpp text diff=cpp
*.c++ text diff=cpp
*.hpp text diff=cpp
*.h text diff=cpp
*.h++ text diff=cpp
*.hh text diff=cpp
